//
//  Release.xcconfig
//  Billeto
//
//  Created by Felix Chacaltana on 20/10/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"

APP_NAME = Billeto
APP_IDENTIFIER = com.billeto.app
APP_ENVIRONMENT = Release